.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 0 96px;
}

.header__menu {
    justify-self: start;
    gap: 10px;
    margin-left: 50px;
    font-size: 18px;
}

.header__links__list {
    display: flex;
    gap: 30px;
    text-underline-position: under;
    list-style-type: none;
}
.header__links__list__item {
    list-style-type: circle;
}
.main-list-item {
    list-style-type: none;
}
.header__logo {
    width: 148px;
    height: 105px;
    padding: 1px 6px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    justify-self: end;
    max-width: 240px;
    margin-right: 50px;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    text-underline-position: under;
}

.cover {
    position: relative;
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(../images/cover.jpg);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background-color: #000000;
}

.cover__title {
    position: relative;
    font-weight: 700px;
    font-size: 100px;
    font-style: bold;
    line-height: 115%;
    letter-spacing: 30px;
}
.aligned-text_left {
    display: block;
}
.aligned-text_center {
    display: block;
    margin: 20px 0 20px 30px;
    text-align: center;
}
.aligned-text_right {
    display: block;
    text-align: right;
    margin-right: -30px;
}
.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-top: 105px;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 12px;
}

.bet__button {
    width: 256px;
    height: 51px;
    border: 1px #ffffff solid;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    margin: 180px 24px 0;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 27px;
    color: #ffffff;
    list-style-type: none;
}

.lots__card-list-item {
    position: relative;
    z-index: 1;
    width: 334px;
    background-position: center;
    background-size: cover;
}
.card__link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}
.card {
    padding: 48px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card__title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 22px;
    text-decoration: underline 1px;
    text-underline-position: under;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 1;
    margin-top: 37px;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    margin: 31px 0 0 40px;
    font-size: 20px;
    text-decoration: underline 1px;
    text-underline-position: under;
}

.about {
    width: 1052;
    margin: 118px 24px 0;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 36px 0 0 47px;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__depiction {
    width: 693px;
    margin: 136px 0 0 25px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 102px;
}

.about__text {
    font-size: 20px;
    text-align: left;
    
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 179px 0 2px;
    font-size: 18px;
}

.footer__address {
    justify-self: start;
    margin-left: 50px;
}

.footer__menu {
    margin: 1px;
    text-align: center;
    text-underline-position: under;
    text-transform: lowercase;
}

.footer__menu-list {
    list-style-type: none;
}
.footer__menu__social-list {
    display: flex;
    justify-items: center;
    justify-self: end;
    gap: 48px;
    margin: 1px 50px 0 0;
    list-style-type: none;
}

.footer__social-list-item {
    width: 48px;
}
.main__link {
    text-decoration: none;
    list-style-type: none;
}